body {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    color: #434455;
  }
  
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: currentColor;
  }
  
  button {
    cursor: pointer;
  }
  
  img {
    display: block;
  }
  
  address {
    font-style: normal;
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

  .container {
    max-width: 320px;
    padding: 96px 16px;
    margin: 0 auto;
}

  .icon-section-three,
  .social-media-list{
    display: flex;
    justify-content: center;
  }

  .icon-icon {
    width: 40px;
    height: 40px;
  }

  .icon-link-web {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .icon-link-web:hover,
  .icon-link-web:focus {
    background-color: #404BBF;
  }

  .soc-icon-svg,
  .icon-flex {
    fill: #f4f4fd;
  }
  
  /* =============== header =============== */
  
  .header {
    padding: 24px 0;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }
  .header-container {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navig-header {
    display: flex;
    align-items: center;
  }
  
  .pedro-pablo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
  }
  .web-beb{
    color: #2e2f42;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03rem;
  }
 

.open-mob-menu {
    border: none;
    /* background-color: transparent; */
    background-color: #ffffff;
}

.burger {
    fill: #2f2f37;
}

.extra-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    padding: 72px 24px 40px 16px;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.extra-menu > .close-it {
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.10);
    width: 24px;
    height: 24px;
    padding: 0;
    position: absolute;
    right: 24px;
    top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.x-close-icon {
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.x-close:hover,
.x-close:focus {
    background-color: #404BBF;
    border: none;
}

.x-close:hover .x-close-icon,
.x-close:focus .x-close-icon {
    fill: #FFFFFF;
}

.extra-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 168px;
}

.extra-link {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.extra-link:hover,
.extra-link:focus {
    color: #404bbf;
}

.current {
    color: #404BBF;
}

.mob-address {
    margin-bottom: 48px;
}

.mob-address-menu {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mob-address-link {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.link {
    color: #4D5AE5;
}

.extra-menu .icon-icon {
    gap: 40px;
    justify-content: flex-start;
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

  /* =============== hero ================= */

  .main-section {
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)) , url(../images/people-office-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .main-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/people-office-mob-2x.jpg);
    }
}

.main-section > .container {
    padding: 72px 16px;
}

.main-name {
    max-width: 169px;
    color: #FFF;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin: 0 auto 72px auto;
}

.order-service {
    color: #FFF;
    background-color: #4D5AE5;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    display: block;
    margin: 0 auto;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-service:hover, .order-service:focus {
    background-color: #404BBF;
}
/** ------------------------------------------------------ */

/** --------------------- Sectiion-two----------------------- */
.asssignment-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.assignment-list-punkt{
    width: 100%;
}

.icon-section-two {
    display: none;
}

.point-name {
    margin-bottom: 8px;
}

.point-strategy {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/** ------------------------------------------------------ */

/** ----------------------- Section-three ------------------------- */
.section-three {
    background-color: #F4F4FD;
}

.section-three > .container {
    padding: 72px 28px;
}

.team{
    margin-bottom: 72px;
}

.liudi {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.list-part{
    background-color: #fff;
    width: 100%;
    border-radius: 0px 0px 4px 4px;
    background: #FFF;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
}

.worker-container {
    padding: 32px 0;
}

.name-bame{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.{
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team-item .soc-icons-list {
    gap: 24px;
}
/** ------------------------------------------------------ */

/** -------------------- PORTFOLIO ----------------------- */
.section-four-headline{
    margin-bottom: 72px;
}

.workspace{
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
}

.project-card {
    width: 100%;
    margin: 0 auto;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card:hover, .project-card:focus {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.project-card:hover .paragraph {
    transform: translateY(0);
}

.images-four-container{
    position: relative;
    overflow: hidden;
}

.paragraph{
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px 32px;
    display: flex;
    color: #f4f4fd;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.last-section-container{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.card-name{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: start;
}

.card-solve {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
/** ------------------------------------------------------ */

/** --------------------- FOOTER ------------------------- */
.footer-start{
    background-color: #2E2F42;
    width: 100%;
}

.footer-start > .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 72px;
}

.pedro-pablo-link{
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: block;
    margin-bottom: 16px;
    text-align: center;
}

.span-class{
    color: #F4F4FD;
}

.parag-footer{
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
}

.media {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    text-align: center;
}

.footer-start .social-media-list{
    gap: 16px;
}

.footer-start .icon-link-web:hover,
.footer-start .icon-link-web:focus {
    background-color: #31D0AA;
}


.form-text{

  text-align: center;
  font-size:16px;
  margin-bottom: 16px;
  color:#ffffff;


}
.footer-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}

.form-label {
    width: 100%;
}

.footer-input{
    width: 100%;
    height: 40px;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: inherit;
    border-radius: 4px;
    border: 1px solid #FFF;
    outline: transparent;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.footer-input::placeholder {
    color: #FFF;
}

.push-email{
    display: inline-flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    min-width: 165px;
    color: #FFF;
    background-color: #4D5AE5;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.push-email:hover,
.push-email:focus {
    background-color: #404BBF;
}

.footer-svg {
    fill: #FFFFFF;
    margin-left: 16px;
}

/** ------------------------------------------------------ */

/** --------------------- MODAL -------------------------- */

.blackdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    width: 288px;
    min-height: 623px;
    border-radius: 4px;
    background-color: #FCFCFC;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 16px 24px 16px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.x-close {
    background-color: #E7E9FC;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.10);
    width: 24px;
    height: 24px;
    padding: 0;
    position: absolute;
    right: 24px;
    top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.x-close-icon {
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.x-close:hover, .x-close:focus {
    background-color: #404BBF;
    border: none;
}

.x-close:hover .x-close-icon, .x-close:focus .x-close-icon {
    fill: #FFFFFF;
}

.modal-title {
    color: #2E2F42;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.modal-field {
    margin-bottom: 8px;
}

.label {
    color: #8E8F99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    display: block;
    margin-bottom: 4px;
}

.modal-input-wrap {
    position: relative;
}

.modal-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    background-color: inherit;
    color: #2E2F42;
    font-size: 18px;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus, .modal-input:hover {
    border-color: #4D5AE5;
    color: #000000;
}

.modal-input:focus + .modal-icon, .modal-input:hover+.modal-icon {
    fill: #4D5AE5;
}

.modal-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    fill: #2E2F42;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field-comment {
    margin-bottom: 16px;
}

.modal-area {
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-area:focus,
.modal-area:hover {
    border-color: #4D5AE5;
}

.modal-area::placeholder {
    color: rgba(46, 47, 66, 0.40);
    font-size: 12px;
}

.accept-field {
    margin-bottom: 24px;
}

.accept-text {
    color: #8E8F99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.accept-text a {
    color: #4D5AE5;
    text-decoration: underline;
    margin-left: 25px;
    /* margin-left: 3px; */
}

.accept-text span {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-privacy-text {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.accept-input:checked + .accept-text span{
background-color: #404BBF;
border: none;
fill: #F4F4FD;
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
/** ------------------------------------------------------ */

/** ------------------ MEDIA TABLET ---------------------- */
@media screen and (min-width: 768px) {
    .container {
        min-width: 768px;
    }

    .open-it {
        display: none;
    }

    .header-start > .container {
        padding: 0 16px;
    }
    
    .navig-header {
        display: flex;
        align-items: center;
        flex-grow: 1;
    }

    .pedro-pablo{
        margin-right: 120px;
        padding-top: 24px;
        padding-bottom: 24px;
    }
    
    .info {
        display: flex;
        gap: 40px;
    }
    
    .index-bimbex{
        padding: 24px 0;
        position: relative;
        display: block;
        color: #2E2F42;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .index-bimbex:hover,
    .index-bimbex:focus {
        color: #404bbf;
    }
    
    .current {
        color: #404BBF;
    }
    
    .current::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 4px;
        background-color: #404bbf;
        border-radius: 2px;
    }
    
    .links{
        display: block;
    }


    .links-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    
    .clue-links {
        color: inherit;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .clue-links:hover, .clue-links:focus {
        color: #404BBF;
    }
    
    .main-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/office-tab.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .main-section {
            background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/office-tab-2x.jpg);
        }
    }
 
    .main-section> .container {
        padding: 112px 136px;
    }

    .main.name {
        font-size: 56px;
        min-width: 496px;
        line-height: 1.07;
        margin: 0 auto 36px auto;
        text-transform: none;
    }
    
    .assignment-list {
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .assignment-list-punkt {
        width: calc((100% - 24px) / 2);
    }

    .section-three > .container {
        padding: 96px 108px;
    }

    .liudi {
        gap: 64px 24px;
    }
    
    .list-part {
        width: calc((100% - 24px) / 2);
    }

    .workspace{
        gap: 72px 24px;
    }
    
    .project-card{
        width: calc((100% - 24px) / 2);
    }

    .footer-start > .container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
        gap: 72px 24px;
        padding: 96px 108px;
    }

    .pedro-pablo-link {
        text-align: left;
    }

    .media {
        text-align: left;
    }

    .footer-form {
        flex-wrap: nowrap;
        flex-direction: row;
        gap: 24px;
    }

    .footer-input {
        width: 264px;
    }

    .modal-box {
        min-width: 408px;
        min-height: 584px;
    }

    .accept-text a {
        margin-left: 3px;
}
}
/* ------------------------------------------------ */

/* --------------- MEDIA DESKTOP ------------------ */
@media screen and (min-width: 1158px) {
    .container {
        min-width: 1158px;
        padding: 120px 15px;
    }

    .pedro-pablo{
        margin-right: 76px;
    }

    .header-address-menu {
        flex-direction: row;
        gap: 40px;
    }

    .header-address-link {
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;        
    }

    .main-section {
        max-width: 1440px;
        margin: 0 auto;
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/people-office.jpg);
    }
    
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .main-section {
            background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/people-office.jpg);
        }
    }

    .main-section > .container {
        padding: 188px 0;
    }

    

    .assignment-list {
        display: flex;
        gap: 24px;
    }
    
    .assignment-list-punkt{
        width: calc((100% - 24px * 3) / 4);
    }
    
    .icon-section-two {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        border-radius: 4px;
        border: 1px solid #8e8f99;
        background-color: #f4f4fd;
        margin-bottom: 8px;
    }
    
    .point-name{
        text-align: start;
        color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
    }
    
    .point-strategy{
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    .section-three > .container {
        padding: 120px 15px;
    }

    .liudi {
        gap: 24px;
        display: inline-flex;
    }

    .list-part {
        width: calc((100% - 24px * 3) / 4);
    }

    .workspace {
        gap: 48px 24px;
    }

    .project-card{
        width: calc((100% - 24px * 2) / 3);
    }

    .footer-start > .container {
        padding: 100px 0;
        flex-wrap: nowrap;
        align-items: baseline;
        flex-direction: row;
        gap: 0;
    }

    .pedro-pablo-link{
        margin-right: 120px;
    }

    .social-media-container{
        margin-right: 80px;
    }
}  