

* {

    margin: 0;
    padding: 0;
}



:root{
    --primary-brand: #4d5ae5;
    --pressed-state: #404bbf;
    --dark: #2e2f42;
    --success: #31d0aa;
    --text: #434455;
    --subtle-text: #8e8f99;
    --accent: #e7e9fc;
    --light: #f4f4fd;
    --modal-overlay: #2e2f42;
    --hero-background: #2e2f42;
    --white-background: #ffffff;
    --modal-background: #fcfcfc;
}


img{

    display: block;
}


.icon{

    margin:0 auto;
    
}


  

p,h1,h2,h3,h4,h5,h6 {

  margin:0;


}






body {

    font-family: 'Roboto', sans-serif;
    color: #434455;
    background: #FFF;
    
    
           
}


/*header*/


.header-start{
     
    border-bottom: 1px solid #e7e9fc;
    text-decoration: none;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);

}


.header-container{


    display:flex;
    align-items: center;
    


}

.container{

    width: 1158px;
    margin: 0 auto ;
    padding: 0 15px;

}

.navig-header{


    display:flex;
    align-items:center;

}


.pedro-pablo {
    
    margin-right: 76px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: var(--IRIS, #4D5AE5);
    font-style: normal;
    line-height: 21px; /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration:none;
    line-height: 1.17;

}

.web-beb {

   color: var(--NAVY-BLUE, #2E2F42);
   font-family: "Raleway", sans-serif;
   font-size: 18px;
   font-style: normal;
   font-weight: 700;
   line-height: 21px; /* 116.667% */
   letter-spacing: 0.54px;
   text-transform: uppercase;
   text-decoration:none;
   line-height: 1.17 
}


ul {

    list-style:none;
    padding: 0;
    margin:0;

}


.info{

    display: flex;
    align-items: flex-start;
    gap: 40px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
 
}



.index-bimbex{

    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration:none;
    padding: 24px 0;
    display:block; 
    position:relative;
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1) 

   
}

.scram{

    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    color: #404bbf; 
    text-decoration:none;
    padding: 24px 0;
    display:block; 
    position:relative;
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1) 


}



.scram::after{

    background-color: #404bbf; 
    content: "";
    border-radius:2px;
    position:absolute;
    bottom: -1px;
    height: 4px;
    width: 48px;
    left:0;


}

.index-bimbex:hover,
.index-bimbex:focus {

    color: #404bbf;

}






.links{
      
    font-style: normal;
  


}


.links-list{

    display: flex;
    gap:40px;
    margin-left:300px;
 
 }
 

.clue-links{ 

    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
    text-decoration: none;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 


}

.clue-links:hover,
.clue-links:focus {
            
    color: #404bbf;

}

/*section 1*/



.main-section {

    margin: 0 auto;
    padding: 188px 0;
    max-width: 1440px;
    background-color: #2e2f42;
    background-image: linear-gradient( to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7) ), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
  

    
}





.main-name {
 
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    text-align: center;
    color: #FFF;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}


button, select{

    text-transform:none; 
}


.order-service  {
    color: #FFF;
    font-family: "Roboto", sans-serif;
    background: var(--IRIS, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
 

}

.order-service:hover,
.order-service:focus {

    background-color:#404BBf;

    

}


/*sectiion 2*/



.section-two{

    padding:120px 0;

}


.visually-hidden{

    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.assignment-list {
 
    display: flex;
    align-items: flex-start;
    gap: 24px;
    position:center;

    

}


.assignment-list-punkt{

    flex-basis: calc((100% - 72px) / 3);


}






.icon-section-two{


    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background-color: #f4f4fd;
    margin-bottom: 8px;
}




.icon{

    fill:black;
}


.point-name {
   
    letter-spacing: 0.02em;
    line-height: 1.2;
    font-size: 20px;
    font-weight: 500;
    color: #2e2f42;

    margin-bottom: 8px;


}



.point-strategy{

    color: var(--SLATE, #434455);
    /* Body */
    font-family: Roboto;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 24px; /* 150% */
   letter-spacing: 0.32px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color:#434455;

   
 


}



/*section 3*/

.section-three {

    
    
    background: var(--CLOUD, #F4F4FD);
    padding: 120px 0;


}


.team {

    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    /* Header 2 */
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
    line-height: 1.11;

    margin-bottom: 72px;


}


.liudi{

    gap: 24px;
    display:flex;

}


.list-part{
   
    
    border-radius: 0px 0px 4px 4px;
    background: var(--WHITE, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    padding-bottom: 0px;
    

    width: calc((100% - 72px) / 4); 


}




.worker-container{
    
    padding: 32px 0;

}



.name-bame {

    color: var(--NAVY-BLUE, #2E2F42);
  
   /* Header 3 */
   font-family: Roboto;
   font-size: 20px;
   font-style: normal;
   font-weight: 500;
   line-height: 1.2; /* 120% */
   letter-spacing: 0.02em;

   text-align: center;
   margin-bottom: 8px;

}


.stelle{

   
   color: var(--SLATE, #434455);
   /* Body */
   font-family: Roboto;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 1.5; /* 150% */
   letter-spacing: 0.02em;

   text-align: center;
   margin-top: 8px;
}


.icon-section-three{

    display:flex;
    justify-content:center;
    gap:24px;
    align-items: center;
    

}

.icons-web-list{


    width:40px;
    height:40px;
   
     
}

.icon-link-web{
  
    display: flex;
    align-items: center;
    justify-content:center;
    width: 100%;
    height: 100%;
    box-shadow: 0px 4px 1px 0.5px;
    background-color: #4d5ae5;
    border-radius: 50%;
    cursor: pointer;
    transition : background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

     

}

.icon-link-web:hover,
.icon-link-web:focus{


    background-color: #404bbf;

}


.icon-flex{
    
    display: flex;
    fill:#f4f4fd;
    justify-content:center;
    align-items:center;


}


/*section 4*/



.section-four{
    
    align-items: center;
    padding: 120px 0;
    
}


.section-four-headline{
    
    color: var(--NAVY-BLUE, #2E2F42);
    /* Header 2 */
    font-family: Roboto;
    font-size: 36px;
    line-height: 40px; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
    line-height: 1.11;

    text-align: center;
    margin-bottom: 72px;

}


.workspace {

    margin-top: 72px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    

    

}



.project-card{

    
    
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background: var(--WHITE, #FFF);
    width: calc((100% - 48px) / 3);
    box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);


}


.images-four-container{

    position:relative;
    overflow:hidden;



}

.paragraph{


    font-size:16px;
    line-height:1.5;
    letter-spacing:0.02em;
    color:#f4f4fd;
    background-color: #4d5ae5;

    top:0;
    padding: 40px 32px; 
    position: absolute; 
    width:100%;
    height:100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    


}

.project-card:hover .paragraph,
.project-card:focus .paragraph
{

    transform:translateY(0);
    cursor: pointer;
    box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

}



.last-section-container{

    
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none; 

     
}






.card-name{
    
    
    color: var(--NAVY-BLUE, #2E2F42);
    /* Header 3 */
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: 0.4px;

    margin-bottom: 8px;

}




.card-solve{
  
    color: var(--SLATE, #434455);
    /* Body */
   font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
}










/*footer*/ 

.footer-start{

    background-color: #2e2f42;
    padding: 100px 0;



}





.john-container{

   
    display:flex;
    align-items:baseline;

}


.pedro-pablo-link {

  
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: var(--IRIS, #4D5AE5);
    font-style: normal;
    line-height: 21px; /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration:none;
    line-height: 1.17;

    display: inline-block;
    margin-bottom: 16px; 


}


.span-class{

    color: #f4f4fd;
}


.parag-footer{

    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;

}



.footer-container{

     
    
    margin-right: 120px;


}

.media{

    font-weight:500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;

    margin-bottom: 16px;
    

    

}

.social-media-list{


    display:flex;
    gap:16px;

        

}

.social-media-punkt{


    width:40px;
    height:40px;


}

.icon-link-social{

     
    display: flex;
    align-items: center;
    justify-content:center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
   


}

.icon-link-social:hover,
.icon-link-social:focus
{

    background-color: #31d0aa;
}




.form-container{

    display: flex;
    margin-left:80px;
    flex-direction: column;
    
    
}


.form-text{

    font-weight:500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom:16px;


  
     

}

.footer-form{

    
   
    gap:24px;
    display:flex;
    
    


}





.footer-input{

   
    background-color: transparent;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.48px;
    color: #ffffff; 

    width:264px;
    display:flex;
    border: 1px solid#ffffff;
    border-radius:4px;
    height:40px;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
   


   
     
}


input::placeholder{

    
    color: #ffffff;
     

}

.push-email{

   display:flex;
   justify-content:center;
   align-items:center;
   min-width:165px;
   height:40px;
   background-color: #4D5AE5;
   border: 1px solid#212121;
   border-radius:4px;

   font-family: "Roboto", sans-serif;
   font-weight: 500;
   font-size:16px;
   line-height: 1.5;
   letter-spacing:0.04em;
   color: #ffffff;
   padding-left: 24px;
   cursor: pointer;
   border: none;





}

.footer-svg{


    display: flex;
    margin-left:16px;
    fill:white;



}








/*Modal box*/



.modal-window .is-open{

    opacity: 1;
    visibility: visible;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);     
    
}

.modal-window{


    background: rgba(46, 47, 66, 0.4);
    position: fixed;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    overflow: auto;
    
   

}


.modal-box{
    
    background: #fcfcfc;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
    

}

.close-button{

    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right:24px;
    top:24px;
    width:24px;
    height:24px;

    padding: 0;
    background-color: #e7e9fc;
    border: 1px solid rgba(0,0,0,0.1);
    
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    


}


.close-button-picture{

    transition: fill 250ms cubic-bezier(0.4,0,0.2,1);

}


.close-button:hover,
.close-button:focus{

    border: none; 
    background-color: #404bbf; 
    fill:#ffffff;




}








.modal-box-paragraph{

    
    font-weight: 500;
    font-size: 16px;
    font-family: Roboto;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: var(--NAVY-BLUE, #2E2F42);


    margin-bottom: 16px;
    text-align: center;
    width: 360px;

}



.form-box-modal{

 
    margin-bottom:8px;
 
 
 }


.modal-form-label{


    display:block;
    margin-bottom: 4px;
    flex-direction:column;
    
    color: var(--LIGHT-SLATE, #8E8F99);
    /* Small Text */
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 116.667% */
    letter-spacing: 0.48px;
    line-height: 1.17;
    




}

.input-container{

   
    position:relative;
    


}



.modal-box-input{
    
    width:100%;
    height:40px;
    border: 1px solid rgba(46, 47, 66, 0.4); 
    border-radius:4px;
    background-color: transparent; 
    padding-left: 38px; 
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    


}

.modal-box-input:focus{

   
    border-color: #4d5ae5;
    


}





.modal-box-pictures{

    
    position:absolute;
    left:16px;
    top:50%;
    transform:translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);



}

.modal-box-input:focus .modal-box-pictures { 
    fill: #4D5AE5;
}


.modal-box-input:focus .modal-box-pictures {
    fill: none; 
}











.form-box-comment{



    margin-bottom: 16px;


}


.second-text{

    width:100%;
    height:120px;
    font-size:12px;
    line-height:1.17;
    letter-spacing:0.04em;
    color:rgba(46,47,66, 0.4);
    border: 1px solid rgba(46,47,66, 0.4);
    border-radius:4px;
    background-color: transparent;
    padding:8px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    outline: transparent;
    resize:none;




}

.second-text:focus{

   
    border-color: #4D5AE5;

}



.checkbox-container{


    margin-bottom:24px;



}

.checkbox-label{


    color: var(--LIGHT-SLATE, #8E8F99);
    /* Small Text */
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17; /* 116.667% */
    letter-spacing: 0.48px;


}

.span-icon{



    width:16px;
    height:16px;
    border: 1px solid rgba(46,47,66,0.4);
    border-radius:2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    display:inline-flex;
    justify-content: center;
    align-items:center;
    fill:transparent;





}




.radio-button:checked + .checkbox-label > .span-icon {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}







.span-link{


    color: #4D5AE5;
    /* Small Text */
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 116.667% */
    letter-spacing: 0.48px;
    text-decoration: underline;


}



.modal-button{

    
    display: block;
    color:#ffffff;

    min-width:169px;
    height:56px;

    font-family: "Roboto", sans-serif;
    font-size:16px;
    font-weight:500;
    line-height:1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    border:none;
    border-radius:4px;
    cursor:pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    margin: 0 auto;

}











